<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layout/layout-admin :: layout(~{::head}, ~{::main})}">
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script src="/js/my-summernote.js"></script>
<script src="/js/fileupload.js"></script>

<link rel="shortcut icon" href="/images/icon/mangocafe.png">
</head>
<main>
	<div class="wrap view-size center">
	<div class="a1 flex between">
	<div class="li1">판매상품 리스트페이지</div>
	<div><a href="/admin/items/write">상품 등록</a></div> 
	</div>
	<div class="wrap">
		<section id="items-reg">
			<table>
				<thead>
					<tr>
						<th>상품 번호</th>
						<th>상품 이미지</th>
						<th>상품 이름</th>
						<th>상품 가격</th>
						<th>상품 할인</th>
						<th>상품 재고</th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="dto : ${list}" class="table"><!-- ItemsListDTO -->
						<td>[[${dto.ino}]]</td>
						<td>
						<!-- <a href="/admin/items/detail">상품 이미지</a> -->
						<a th:href="|/common/items/${dto.ino}|"><img th:src="${dto.defImgUrl}" alt="이미지" height="100px" 
								></a><!-- 이미지 둘 다 뜸?! -->
						</td><!-- ItemsFileDTO -->
						<td>[[${dto.name}]]</td>
						<td>[[${dto.price}]]</td>
						<td>[[${dto.sale}]]</td>
						<td>[[${dto.stock}]]</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	</div>
</main>
</html>