<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{commons/common :: head}"/>
	<link rel="stylesheet" href="/css/member/signup.css"/>
	 <script th:inline="javascript" src="/js/mailSend.js"></script>
</head>
<body>
	<th:block th:insert="~{commons/common :: header}"/>
	<!-- //////////////////////////////////////////////////// -->
	<main id="join-form">
		<h1>회원가입폼</h1>
		<div id="form" class="wrap view-size flex center">
			<form action="/common/signup" method="post">
				<ul>
					<li class="email">
					<label>이메일</label>
					<input type="text" name="email" id="in-mail" placeholder="이메일 입력">
					<button type="button" id="btn-mail">인증번호발송</button>
					<span id="key-wrap">
						<input type="text" id="key" placeholder="인증번호 입력">
						<span class="time"></span>
					</span>
					
					<!-- <input type="text" style="display: none;" id="mail-key" th:if="${session.mailKey}" th:value="${session.mailKey}"> -->
					<span class="mail-msg"></span>
					</li>
					<li class="name">
						<label>이름</label>
						<input type="text" name="name" placeholder="이름 입력">	
					</li>
					<li class="pw">
						<label>비밀번호</label>
						<input type="password" name="pass" placeholder="비밀번호 입력">	
					</li>
					<li class="pw-re">
						<label>비밀번호 재확인</label>
						<input type="password" placeholder="비밀번호 재확인">	
					</li>
					<li class="phone">
						<label>휴대전화</label>
						<input type="text" placeholder="전화번호 입력">
					</li>
					<li class="submit">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
						<!-- csrf 토큰 적용해주려면 히든사용, thymeleaf사용 -->
						<button class="btn-st" type="submit">회원가입하기</button>
					</li>
				</ul>
			</form>
		</div>
	</main>
	<!-- //////////////////////////////////////////////////// -->
	<th:block th:insert="~{commons/common :: footer}"/>
</body>
</html>